<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="../static/style.css">

    <title>This model will analyse between Pug Dog, Abyssinian and Birman Cats.</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>Is it a Pug, Abyssinian or Birman?</h1>
        </div>
        <div class="row">
        <p>This model will analyze between Pug Dog, Abyssinian and Birman Cats.</p>  </div>
            <div class="row"><p>Download any picture of these types of pets from the below links.</p>  </div>
           <div class="row"> <a href=”https://duckduckgo.com/?q=birman+cat&t=brave&iar=images&iax=images&ia=images” target="_blank">
                Birman Cats
             </a>  </div>
             <div class="row"><a href=”https://duckduckgo.com/?q=abyssinian+cat&t=brave&iar=images&iax=images&ia=images” target="_blank">
                Abyssinian Cats
             </a>  </div>
            <div class="row"><a href=”https://duckduckgo.com/?q=pug+dog&t=brave&iar=images&iax=images&ia=images” target="_blank">
                Pug Dogs
             </a>
        </div><p>
        <div class="row">
            <p>Built with PyTorch/FastAI. Just upload an image from your computer and
                it will be classified.
            </p>

        </div>
        <div class="row">
            <h2>Uploader</h2>
        </div>
        <div class="row">
            <img id="uploadedImg">
        </div>

        <div class="row">
            <form enctype="multipart/form-data" method="POST" name="fileinfo">
                <label>Upload your image:</label>
                <input type="file" name="file" required />
                <input type="submit" value="Classify!" />
            </form>
    
        </div>
        <div class="row">
   
            <h2>Results</h2>
            <div id="loader" class="lds-dual-ring"></div>
        </div>
        <div id="results" class="grid-container">
        </div>
    </div>



<img id="Cat or Dog" src="../static/carordog.jpg">

    <footer>
        <p>
            <a class="github-button" href="https:github.com/ZenoVka-Vestraq" data-show-count="true"
                aria-label="Follow @ZenoVka-Vestraq on GitHub">Follow @ZenoVka-Vestraq</a>

            <a class="github-button" href="https://github.com/ZenoVka-Vestraq/Pet-Recognition-Classifier"
                data-show-count="true" data-icon="octicon-star"
                aria-label="Star ZenoVka-Vestraq/Pet Recognition Classifier on GitHub">Star</a>
        </p>

    </footer>

    <script src="../static/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>